<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <style>
        *{
            color: white;
            background-color: black;
        }
    </style>
</head>
<body>
    <h1>Total number of users: <%= num %></h1>
    <h2>Show users: <a href="http://localhost:8080/users">Here!</a></h2>
    <button><a href="http://localhost:8080/users/new">Join us!<a/></button>
</body>
</html>